$color-derecha: #ffd4d4; //variables
$color-centro: #ffe5c2;
$color-fondo: #ff7ed6;
$color-texto: #002c3a;
$color-primary: #ffe300;
$color-secondaty: #ff409e;
$color-terciary: #aaa;
$terciary-color: white;

$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6); //propiedades

$limit: 10px; //unid
$unit: 8px; //medidas
